In [49]:
import glob
import tensorflow as tf
from keras.models import Sequential, load_model
import numpy as np
import pandas as pd
from keras.layers import Dense, Activation, Embedding, Flatten, LeakyReLU, BatchNormalization, Dropout
from keras.activations import relu, sigmoid
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler,StandardScaler
import matplotlib.pyplot as plt
import keras as k

In [50]:
data = pd.read_csv("stroke.csv", index_col=0)

In [51]:
data.head(10)

,gender,age,hypertension,alcohol_intake,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,,
9046,Male,67.0,147,2,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
51676,Female,61.0,135,4,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
31112,Male,80.0,115,3,1,Yes,Private,Rural,105.92,32.5,never smoked,1
60182,Female,49.0,125,2,0,Yes,Private,Urban,171.23,34.4,smokes,1
1665,Female,79.0,130,3,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
56669,Male,81.0,127,1,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
53882,Male,74.0,120,2,1,Yes,Private,Rural,70.09,27.4,never smoked,1
10434,Female,69.0,121,3,0,No,Private,Urban,94.39,22.8,never smoked,1
27419,Female,59.0,125,2,0,Yes,Private,Rural,76.15,NaN,Unknown,1
60491,Female,78.0,115,5,0,Yes,Private,Urban,58.57,24.2,Unknown,1

#Converting into datatypes int to float

In [52]:
data['hypertension'] = data['hypertension'].astype(float) 
data['alcohol_intake'] = data['alcohol_intake'].astype(float)

In [53]:
print(data.dtypes)

gender                object
age                  float64
hypertension         float64
alcohol_intake       float64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [54]:
data = data.drop("ever_married" , axis=1)
data = data.drop("work_type" , axis=1)

In [55]:
data.head(10)

,gender,age,hypertension,alcohol_intake,heart_disease,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,
9046,Male,67.0,147.0,2.0,1,Urban,228.69,36.6,formerly smoked,1
51676,Female,61.0,135.0,4.0,0,Rural,202.21,NaN,never smoked,1
31112,Male,80.0,115.0,3.0,1,Rural,105.92,32.5,never smoked,1
60182,Female,49.0,125.0,2.0,0,Urban,171.23,34.4,smokes,1
1665,Female,79.0,130.0,3.0,0,Rural,174.12,24.0,never smoked,1
56669,Male,81.0,127.0,1.0,0,Urban,186.21,29.0,formerly smoked,1
53882,Male,74.0,120.0,2.0,1,Rural,70.09,27.4,never smoked,1
10434,Female,69.0,121.0,3.0,0,Urban,94.39,22.8,never smoked,1
27419,Female,59.0,125.0,2.0,0,Rural,76.15,NaN,Unknown,1
60491,Female,78.0,115.0,5.0,0,Urban,58.57,24.2,Unknown,1

In [56]:
column_req = ["gender", "age", "hypertension","alcohol_intake","heart_disease", "Residence_type", "avg_glucose_level", "bmi", "smoking_status","stroke"]

In [57]:
data['hypertension'].dtype

dtype('float64')

In [58]:
for column in data.columns:
    if data[column].dtype == np.number:
        continue
    data[column] = LabelEncoder().fit_transform( data[column] )

In [59]:
data.head(10)

,gender,age,hypertension,alcohol_intake,heart_disease,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,
9046,1,67.0,147.0,2.0,1,1,228.69,36.6,1,1
51676,0,61.0,135.0,4.0,0,0,202.21,NaN,2,1
31112,1,80.0,115.0,3.0,1,0,105.92,32.5,2,1
60182,0,49.0,125.0,2.0,0,1,171.23,34.4,3,1
1665,0,79.0,130.0,3.0,0,0,174.12,24.0,2,1
56669,1,81.0,127.0,1.0,0,1,186.21,29.0,1,1
53882,1,74.0,120.0,2.0,1,0,70.09,27.4,2,1
10434,0,69.0,121.0,3.0,0,1,94.39,22.8,2,1
27419,0,59.0,125.0,2.0,0,0,76.15,NaN,0,1
60491,0,78.0,115.0,5.0,0,1,58.57,24.2,0,1

In [60]:
data = data.fillna(data.mean())
data.head()

,gender,age,hypertension,alcohol_intake,heart_disease,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,
9046,1,67.0,147.0,2.0,1,1,228.69,36.600000,1,1
51676,0,61.0,135.0,4.0,0,0,202.21,29.102656,2,1
31112,1,80.0,115.0,3.0,1,0,105.92,32.500000,2,1
60182,0,49.0,125.0,2.0,0,1,171.23,34.400000,3,1
1665,0,79.0,130.0,3.0,0,0,174.12,24.000000,2,1

In [61]:
X = data.drop(["stroke"], axis=1)
Y = data["stroke"]

In [62]:
#Values to X

In [63]:
X.head()

,gender,age,hypertension,alcohol_intake,heart_disease,Residence_type,avg_glucose_level,bmi,smoking_status
id,,,,,,,,,
9046,1,67.0,147.0,2.0,1,1,228.69,36.600000,1
51676,0,61.0,135.0,4.0,0,0,202.21,29.102656,2
31112,1,80.0,115.0,3.0,1,0,105.92,32.500000,2
60182,0,49.0,125.0,2.0,0,1,171.23,34.400000,3
1665,0,79.0,130.0,3.0,0,0,174.12,24.000000,2

In [64]:
Y.head()

id
9046     1
51676    1
31112    1
60182    1
1665     1
Name: stroke, dtype: int64

In [65]:
x_scaler = MinMaxScaler()
x_scaler.fit(X)
column_names = X.columns
X[column_names]=x_scaler.transform(X)
X.head()

,gender,age,hypertension,alcohol_intake,heart_disease,Residence_type,avg_glucose_level,bmi,smoking_status
id,,,,,,,,,
9046,1.0,0.816895,0.858974,0.333333,1.0,1.0,0.801173,0.301260,0.333333
51676,0.0,0.743652,0.782051,0.666667,0.0,0.0,0.678875,0.215380,0.666667
31112,1.0,0.975586,0.653846,0.500000,1.0,0.0,0.234159,0.254296,0.666667
60182,0.0,0.597168,0.717949,0.333333,0.0,1.0,0.535793,0.276060,1.000000
1665,0.0,0.963379,0.750000,0.500000,0.0,0.0,0.549141,0.156930,0.666667

In [66]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y, test_size= 0.2, shuffle = True)

In [69]:
from imblearn.over_sampling import SMOTE 
sm = SMOTE(random_state = 2) 
X_train, Y_train = sm.fit_sample(X_train, Y_train.ravel())

In [70]:
print("After OverSampling, counts of label '1': {}".format(sum(Y_train == 1))) 
print("After OverSampling, counts of label '0': {}".format(sum(Y_train == 0))) 

Y_test.head()

After OverSampling, counts of label '1': 2199
After OverSampling, counts of label '0': 2199

id
67483    0
72132    0
8579     0
6606     0
6844     0
Name: stroke, dtype: int64

# Model Buliding

In [83]:
model = tf.keras.models.Sequential()

In [75]:
model.add(tf.keras.layers.Flatten())

In [88]:
model.add(tf.keras.layers.Dense(10,activation=tf.nn.relu,input_shape=(X_train.shape[1],)))
model.add(tf.keras.layers.Dense(64,activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(32,activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(2,activation=tf.nn.softmax))

# Model Compiling

In [91]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [93]:
history = model.fit(X_train, Y_train, epochs = 2000, batch_size = X_train.shape[0])

ValueError: Please provide as model inputs either a single array or a list of arrays. You passed: x=      gender       age  hypertension  alcohol_intake  heart_disease  \
0        0.0  0.279785      0.493590        0.166667            0.0
1        0.0  0.365234      0.647436        0.333333            0.0
2        0.0  0.572754      0.820513        0.666667            0.0
3        0.0  0.816895      0.564103        0.500000            0.0
4        1.0  0.841309      0.801282        0.333333            0.0
5        0.0  0.230957      0.685897        0.000000            0.0
6        0.0  0.475098      0.762821        0.333333            0.0
7        1.0  0.694824      0.685897        0.333333            0.0
8        0.0  0.230957      0.685897        0.333333            0.0
9        1.0  0.291992      0.775641        0.333333            0.0
10       1.0  0.853516      0.865385        0.500000            0.0
11       0.0  0.645996      0.615385        0.333333            0.0
12       0.0  0.060059      0.435897        0.000000            0.0
13       0.0  0.621582      0.724359        0.333333            0.0
14       0.0  0.951172      0.775641        0.166667            1.0
15       1.0  0.951172      0.929487        0.666667            0.0
16       1.0  0.853516      0.878205        0.666667            0.0
17       1.0  0.951172      0.519231        0.833333            0.0
18       1.0  0.951172      0.782051        0.166667            1.0
19       0.0  0.389648      0.647436        0.166667            0.0
20       0.0  0.853516      0.756410        0.166667            0.0
21       1.0  0.572754      0.724359        0.333333            0.0
22       1.0  0.157715      0.487179        0.000000            0.0
23       0.0  0.951172      0.801282        0.666667            0.0
24       0.0  0.609375      0.711538        0.333333            0.0
25       0.0  0.963379      0.839744        0.000000            0.0
26       0.0  0.963379      0.538462        0.500000            0.0
27       1.0  0.633789      0.737179        0.833333            0.0
28       0.0  0.243164      0.679487        0.166667            0.0
29       1.0  0.169922      0.679487        0.000000            0.0
...      ...       ...           ...             ...            ...
4368     0.0  0.795489      0.597914        0.333333            0.0
4369     0.0  0.925998      0.865784        0.500000            0.0
4370     1.0  0.793460      0.798013        0.418338            1.0
4371     0.0  0.951681      0.743857        0.340281            0.0
4372     1.0  0.871045      0.785660        0.500000            0.0
4373     1.0  0.796662      0.740605        0.301368            1.0
4374     0.0  0.913571      0.871280        0.500000            0.0
4375     1.0  0.837884      0.681495        0.333333            0.0
4376     0.0  0.696129      0.728574        0.666667            0.0
4377     0.0  0.866113      0.781231        0.333867            0.0
4378     0.0  0.792783      0.878152        0.002065            0.0
4379     0.0  0.939122      0.909679        0.166667            0.0
4380     1.0  0.985308      0.698948        0.399701            0.0
4381     1.0  0.798489      0.857101        0.333333            0.0
4382     0.0  0.746421      0.784336        0.666667            0.0
4383     1.0  0.704692      0.829247        0.468056            0.0
4384     1.0  0.951190      0.860575        0.500000            1.0
4385     0.0  0.966747      0.661149        0.477004            0.0
4386     1.0  0.851480      0.825854        0.331017            0.0
4387     1.0  0.802044      0.899600        0.771763            0.0
4388     0.0  0.952972      0.869166        0.215823            0.0
4389     0.0  0.814023      0.533518        0.333333            0.0
4390     0.0  0.539838      0.656891        0.500000            0.0
4391     0.0  0.871964      0.855223        0.097535            0.0
4392     0.0  0.975586      0.686995        0.166667            0.0
4393     0.0  0.948798      0.476498        0.634255            0.0
4394     0.0  0.934150      0.724881        0.166667            0.0
4395     0.0  0.855725      0.572133        0.369474            0.0
4396     1.0  0.872845      0.875535        0.333333            0.0
4397     1.0  0.936592      0.846439        0.166667            0.0

      Residence_type  avg_glucose_level       bmi  smoking_status
0                1.0           0.088860  0.289805        0.333333
1                0.0           0.003926  0.240550        0.666667
2                0.0           0.690052  0.379152        0.666667
3                1.0           0.797802  0.257732        0.000000
4                1.0           0.107427  0.177549        0.333333
5                0.0           0.079300  0.215380        1.000000
6                0.0           0.629272  0.206186        0.666667
7                1.0           0.119758  0.342497        0.333333
8                0.0           0.168437  0.334479        0.000000
9                0.0           0.117356  0.205040        1.000000
10               0.0           0.086920  0.215349        0.666667
11               0.0           0.062535  0.289805        0.333333
12               0.0           0.250231  0.111111        0.000000
13               1.0           0.415666  0.241695        0.000000
14               1.0           0.256604  0.144330        0.666667
15               1.0           0.753926  0.189003        0.000000
16               1.0           0.680445  0.215380        0.333333
17               0.0           0.004110  0.174112        0.333333
18               1.0           0.527480  0.151203        0.333333
19               1.0           0.059902  0.123711        0.666667
20               0.0           0.097543  0.161512        0.333333
21               0.0           0.216008  0.297824        0.666667
22               0.0           0.259837  0.120275        0.000000
23               1.0           0.869573  0.180985        0.666667
24               1.0           0.339045  0.146621        0.000000
25               1.0           0.060733  0.159221        1.000000
26               1.0           0.197672  0.137457        0.333333
27               0.0           0.630150  0.180985        1.000000
28               1.0           0.210558  0.189003        0.000000
29               1.0           0.215454  0.114548        0.666667
...              ...                ...       ...             ...
4368             1.0           0.201275  0.215380        0.083724
4369             0.0           0.633000  0.193433        0.000000
4370             1.0           0.458836  0.257259        1.000000
4371             0.0           0.821383  0.248041        0.666667
4372             1.0           0.783773  0.241883        0.333333
4373             1.0           0.532615  0.293121        1.000000
4374             0.0           0.676986  0.194067        0.026752
4375             0.0           0.149040  0.177046        0.864571
4376             0.0           0.652187  0.287352        0.852054
4377             0.0           0.640539  0.138789        0.998933
4378             1.0           0.695125  0.408372        0.333333
4379             1.0           0.668169  0.205359        0.337623
4380             0.0           0.193660  0.178571        0.533930
4381             0.0           0.609399  0.293418        0.569229
4382             0.0           0.679456  0.214488        0.666667
4383             0.0           0.683172  0.252217        0.333333
4384             0.0           0.395408  0.152760        0.374938
4385             0.0           0.146149  0.147649        0.666667
4386             0.0           0.861665  0.400597        0.328700
4387             0.0           0.838532  0.353733        0.666667
4388             1.0           0.703453  0.373234        0.666667
4389             1.0           0.080325  0.266537        0.666667
4390             1.0           0.207494  0.211762        1.000000
4391             1.0           0.087773  0.169265        0.666667
4392             1.0           0.252382  0.214129        0.000000
4393             0.0           0.051514  0.221834        0.398156
4394             1.0           0.109817  0.164538        0.000000
4395             1.0           0.090911  0.284505        0.666667
4396             0.0           0.693385  0.287855        0.666667
4397             0.0           0.382722  0.263819        0.000000

[4398 rows x 9 columns]